name: Teltochronicle Nightly Update

on:
  schedule:
    - cron: "0 3 * * *"   # every day at 03:00 UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    environment: Deploy

    steps:
      - name: Install SSH key
        # see https://github.com/webfactory/ssh-agent/issues/184#issuecomment-2830671989
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: |
            ${{ secrets.TELTOCHRONICLE_DEPLOY_KEY }}
            ${{ secrets.RUT951_DEPLOY_KEY }}
            ${{ secrets.RUT950_DEPLOY_KEY }}
            ${{ secrets.RUTX09_DEPLOY_KEY }}

      - name: Add GitHub to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Checkout repository (with submodules)
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0
          # we're dealing with LFS manually
          lfs: false
          # use SSH for checking out submodules
          ssh-key: |
            ${{ secrets.TELTOCHRONICLE_DEPLOY_KEY }}
            ${{ secrets.RUT951_DEPLOY_KEY }}
            ${{ secrets.RUT950_DEPLOY_KEY }}
            ${{ secrets.RUTX09_DEPLOY_KEY }}

      - name: Configure Git identity for commits
        run: |
          git config --global user.name  "Teltochronicle Nightly Update Bot"
          git config --global user.email "no-reply@wirelane.com"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Git LFS
        run: git lfs install

      - name: Make sure that submodules are up-to-date
        run: make pull-submodules

      - name: Run repository update
        run: make all
